html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.wrapper {
    display: flex;
}

#sidebar {
    position: sticky;
    top: 0;
    
    min-width: 250px;
    max-width: 250px;
    height: 100vh;
    
    background-color: teal;
    
    position: fixed;
    
}

main {
    color: khaki;
    background-color: #404040;
    
    left: 0;
    right: 0;
    
    overflow-y: scroll;
    position: absolute;
    
    margin-left: 250px;
    padding-left: 0;
}