/* --- Fonts from Google --- */
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');


/* --- Styling code from below onward --- */
#sidebar {
    position: fixed;
    top: 0;
    
    min-width: 250px;
    max-width: 250px;
    height: 100vh;
    
    background-color: #100F0D;
    
}

#navbar {
    margin: 0 auto;
    width: 200px;
    height: 300px;
    
    top: 50%;
    transform: translateY(-50%);
}
#navbar a {
    color: white;
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
    
    display: block;
    text-decoration: none;
    text-align: center;
    
    padding: 10px 0;
}
#navbar a:hover {
    color: yellow;
    font-weight: bolder;
    
}

#m-logo {
    padding-top: 25px;
    padding-bottom: 25px;
}

/* --- Wallpaper in different web pages --- */
/* home.html */
#home-bg {
    background-image: url("images/maroon5-wall.jpg");
}

/* contact.html */
#contact-bg {
    background-image: url("images/contact-wall.jpg");
}

.contact-form {
    width: 500px;
    height: 500px;
    
    background-color: white;
    
}

main {
    /*color: khaki;*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    overflow-x: hidden;
    overflow-y: scroll;
    position: absolute;
    
    margin-left: 250px;
    padding: 0;
    height: 100vh;
}
