#sidebar {
    position: fixed;
    top: 0;
    
    min-width: 250px;
    max-width: 250px;
    height: 100vh;
    
    background-color: teal;
    
}

#sidebar a {
    text-decoration: none;
    color: white;
}
#sidebar a:hover {
    font-weight: bolder;
    color: yellow;
}

main {
    color: khaki;
    background-color: #404040;
    
    height: 100vh;
    
    overflow-x: hidden;
    overflow-y: scroll;
    position: absolute;
    
    margin-left: 250px;
    padding: 0;
}